name: Publish

on:
  release:
    types: [published]

jobs:
  publish:
    if: ${{ !github.event.release.draft }}
    runs-on: ubuntu-latest
    environment: release
    steps:
      - uses: DevExpress/testcafe-build-system/actions/prepare@main
        with:
          node-version: 16

      - run: cd demo-app && npm i --force && cd ..

      - uses: DevExpress/testcafe-build-system/actions/build-npm@main

      - uses: DevExpress/testcafe-build-system/actions/login-npm@main
        with:
          token: ${{ secrets.NPM_TOKEN }}
    
      - shell: bash
        run: npx publish-please || (git status && false)